<p class="navbar-text float-right">
    <% if session[:user] %>
      <%= link_to "Edit profile", profile_edit_profile_path %> |
      <%= link_to "Logout", :controller=>:account, :action=>:logout %> |
      <%= link_to "Reset Password", password_reset_password_path %>
    <% else %>
      <%= link_to "Sign up", account_signup_path  %> |
      <%= link_to "Login", account_login_path %>
    <% end %>
    </p><br><br>

<h3>This is user dashboard page</h3>
