<div class="title">Login</div>
<br>
<%= flash[:notice] %>
<%= form_with url: "/account/login", method: :post do |f|%>


<div class="field">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
</svg>
<%= f.text_field :email, placeholder: 'Enter your Email', :maxlength=>"50" %>
</div><br>

<div class="field">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
<path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
</svg>
<%= f.password_field :password, placeholder: 'Enter your Password', :maxlength=>"50" %>
</div><br>
<div class="text"><%= link_to "Forgot password?", password_forgot_password_path %></div>
<div class="button input-box">
<%= f.submit "Login" %>
</div>
<%end %>

<div class="text sign-up-text">Don't have an account? <%= link_to "Sign Up", "/account/signup" %></div>


