<div class="title">Edit Profile</div><br>
<center><% if @user.profile_picture.attached? %>
<%= image_tag @user.profile_picture, width: "150px", height:"150px" %>
<br>
<% else %>
<%= image_tag "/assets/avatar.png", width: "150px",height:"150px"%>
<% end %></center>
<%= form_with url: "/profile/edit_profile", method: :post do |form| %>

<div class="field">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
  </svg>
  <%= form.text_field :firstname, placeholder: 'Enter your First Name', :maxlength=>"50", :value=>@user.firstname %><br>
</div><br>

<div class="field">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
  </svg>
  <%= form.text_field :lastname, placeholder: 'Enter your Last Name', :maxlength=>"50", :value=>@user.lastname %><br>
</div><br>

<div class="field">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
  </svg>
  <%= form.number_field :mobile, placeholder: 'Mobile Number',:value=>@user.mobile %><br>
</div><br>

<div class="field">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16">
    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z"/>
  </svg>
  <%= form.date_field :dob, placeholder: 'date of birth',:value=>@user.dob %><br>
</div><br>

<div class="field">
  <%= form.file_field :profile_picture %>
</div>

<div class="button input-box"><br>
  <%= form.submit "Edit Profile" %><br>
</div>
<% end %>

